$line-color: #eeeeee;

@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    #{$property}: $value;
}

%hr {
    background-color: $line-color;
    height: 1px;
    border: none;
}

$justify-config: (flex-start, center, flex-end, space-between, space-around);
$align-config: (flex-start, center, flex-end, stretch, baseline);
$wrap-config: (wrap, nowrap);

.flex {
    display: flex;
    display: -webkit-flex;
}

.flex-column {
    @include prefix(flex-direction, column);
}

@each $justify in $justify-config {
    .justify-#{$justify} {
        @include prefix(justify-content, $justify);
    }
}
@each $align in $align-config {
    .align-#{$align} {
        @include prefix(align-items, $align);
    }
}
@each $wrap in $wrap-config {
    .flex-#{$wrap} {
        @include prefix(flex-wrap, $wrap);
    }
}

[v-cloak] {
    display: none;
}

[data-tap] {
    @include prefix(transition, opacity 0.5s);
}

[data-tap]:active {
    opacity: 0.5;
}

html, body {
    margin: 0;
}

header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    background-color: $line-color;
    position: fixed;
    top: 0;
}

div {
    @include prefix(box-sizing, border-box);
}
